#OSX
*.DS_Store

#IDE
*.iml
.idea/
*.ipr
*.iws

#Build
target/
out/

#Log files
*.log

#ec
*.project
*.prefs
.settings/
LOG_PATH_IS_UNDEFINED
*.classpath
*.launch


nfsq-module/lib/
nfsq-module/nfsq-service-category/
nfsq-module/nfsq-service-fireeye/


